# Javascript
node_modules/
dist/
package-lock.json
.build-hash

# Logging
out/
logs/

# Database
*.db
*.sqlite

# Environment
.env

# Cypress
cypress/screenshots/
cypress/videos/

# Development
*.plantuml
*.description
*.timestamp-*.mjs